{% extends 'layout.html' %}
{%block title%}{{the_title}}{% endblock %}

{% block content %}
<header>
        <div id="logo1" onclick="slowScroll('#top')">
            <span><a class="logo_regist" href="/homepage">McGrief</a></span>
        </div>
        <div id = "about1">
             <a href="/about_us" title="О нас" onclick="slowScroll('#main')">О нас</a>
            <a href="/news" title="Новости" onclick="slowScroll('#main')">Новости</a>
            <a href="/login" title="Логин" onclick="slowScroll('#main')">Логин</a>
            <a href = "/registration_page" title="Регистрация" onclick="slowScroll('#contacts')">Регистрация</a>
            <a href = "/profile" title="Личный кабинет" onclick="slowScroll('#contacts')">Личный кабинет</a>
            <a href="/homepage" title="Вернуться" onclick="slowScroll('#main')">Вернуться на главную</a>
        </div>
    </header>

    <div id="contacts">
        <center><h5>Смена пароля</h5></center>
        <form  id="form_input" method="POST" action="/change_password">
            <div class="input-control">
                <label>Электронная почта<span>*</span></label><br>
                <input type="email" placeholder="Введите Электронную почту" name = "email" id ="email" required>
                <div class="error"></div>
            </div>

            <br>
            <div class="input-control">
                <label>Новый пароль<span>*</span></label><br>
                <input type="password" placeholder="Введите новый пароль" name = "new_password" id ="new_password" required>
                <div class="error"></div>
                <div class="error1">{{ response }}</div>
            </div>
            <button id="mess_send" class="btn" type="submit">сменить пароль</button><br>
            <br>
        </form>
    </div>
      <script>
    const form = document.getElementById('form_input');
    const email = document.getElementById('email');
    const new_password = document.getElementById('new_password');



const setError = (element, message) => {
    const inputControl = element.parentElement;
    const errorDisplay = inputControl.querySelector('.error');

    errorDisplay.innerText = message;
    inputControl.classList.add('error');
    inputControl.classList.remove('success')
}

const setSuccess = (element, message)  => {
    const inputControl = element.parentElement;
    const errorDisplay = inputControl.querySelector('.error');

    errorDisplay.innerText = message;
    inputControl.classList.add('success');
    inputControl.classList.remove('error');
};


const isValidPassword = password => {
    const re1 = /^(([^<>()[\]\\.,;:'+=\s@"])+(\.[^<>()[\]\\.,;:\s@"]+)*)$/;
    return re1.test(String(password).toLowerCase());
}
const isValidEmail = email => {
    const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
}

form.addEventListener('submit', e => {

    const emailValue = email.value.trim();
    const new_password2Value = new_password.value.trim();


    if(emailValue === '') {
         e.preventDefault();
        setError(email, 'Нужна почта');
    } else if (!isValidEmail(emailValue)) {
         e.preventDefault();
        setError(email, 'Не правильный контекст почты');
    } else {
        setSuccess(email,'');
    }


    if(new_password2Value === '') {
         e.preventDefault();
        setError(new_password , 'Повторите пароль');
    } else if (new_password2Value.length <= 8) {
         e.preventDefault();
        setError(new_password , "Пароль должен быть больше 8 символов.");
    } else {
        setSuccess(new_password ,'');
    }


    });
    </script>

        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js%22%3E'></script>
    <script>
        function slowScroll()
        {
            $('html,body').animate({
                scrollTop: $(id).offset().top
            },500)
        }
        $(document).on("scroll",function(){
            if($(window).scrollTop() === 0)
                $("header").removeClass("fixed");
            else
                $("header").attr("class","fixed");
        })
    </script>

{% endblock %}
