<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
    <meta name = "viewport" content="width = device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel = "stylesheet" href="css/style.css">
    <link rel = "shortcut icon" href="icons/pngwing.com%20(6).png" type="image/x-icon">

    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin = "anonymous"></script>

    <link rel="stylesheet" href="css/lightslider.css">
    <script src="js/Jquery.js"></script>
    <script src="js/lightslider.js"></script>
    <title>McGrief minecraft server</title>
</head>

<body id="body">
     <!--header------------------------------------->
   <header id="header" class="lock-padding">
        <div id="logo1" onclick="slowScroll('#top')">
            <span><a class="logo1A" href="index.html">McGrief</a></span>
        </div>
        <div id = "about1">
            <a href="about" title="О нас" onclick="slowScroll('#main')">О нас</a>
            <a href="news" title="Новости" onclick="slowScroll('#main')">Новости</a>
            <a href="login" title="Логин" onclick="slowScroll('#main')">Логин</a>
            <a href = "registration_page" title="Регистрация" onclick="slowScroll('#main')">Регистрация</a>
            <a href = "profile" title="Личный кабинет" onclick="slowScroll('#main')">Личный кабинет</a>
            <a href="homepage" title="Вернуться" onclick="slowScroll('#main')">Вернуться на главную</a>
        </div>
        <div id="header-phone">
            <a href="#popup-block-menu" class="popup-link"><img src="static/VisualEditor_-_Icon_-_Menu.svg.png"></a>
        </div>
    </header>
<!--contacts------------------------------------->
    <div id="contacts">
        <center><h5 class="h5_Forget_pass">Восстоновление пороля</h5></center>
        <center><p></p></center>
        <form  id="form_input" method="POST" action="/forgot_password">
            <div class="input-control">
                <label>Введите имя<span>*</span></label><br>
                <input type="name" placeholder="Введите имя" name = "username" id ="username" required>
                <div class="error1"></div>

            </div>
            <div class="input-control">
                <label for = "email">Введите почту<span>*</span></label><br>
                <input type="email" placeholder="Введите почту" name = "email" id ="email" required>
                <div class="error1">{{ response }}</div>

            </div>
            <br>
            <button id="mess_send" class="btn" type="submit">Отправить</button><br>
            <br>
        </form>
    </div>
    <!--menu-popup------------------------------------->
     <div class="popup-block" id="popup-block-menu">
        <div class="popup-block-body">
            <div class="popup-block-content">
                <a href = "#header" class="popup-block-close" id="pop_up_close">X</a>
                <div class="popup-title">Меню</div>
                <div class="popup-text">
                     <a href="about" title="О нас" onclick="slowScroll('#main')">О нас</a>
                    <br>
                    <br>
                    <a href="news" title="Новости" onclick="slowScroll('#main')">Новости</a>
                    <br>
                    <br>
                    <a href="login" title="Логин" onclick="slowScroll('#main')">Логин</a>
                    <br>
                    <br>
                    <a href = "registration_page" title="Регистрация" onclick="slowScroll('#main')">Регистрация</a>
                    <br>
                    <br>
                    <a href = "shop" title="Магазин" onclick="slowScroll('#main')">Магазин</a>
                    <br>
                    <br>
                    <a href = "profile" title="Личный кабинет" onclick="slowScroll('#main')">Личный кабинет</a>
                    <br>
                    <br>
                    <a href="homepage" title="Вернуться" onclick="slowScroll('#main')">Вернуться на главную</a>
                </div>
                </div>
            </div>
        </div>
    <!--script------------------------------------->
    <script>

         function slowScroll()
        {
            $('html,body').animate({
                scrollTop: $(id).offset().top
            },500)
        }
        $(document).on("scroll",function(){
            if($(window).scrollTop() === 0)
                $("header").removeClass("fixed");
            else
                $("header").attr("class","fixed");
        })
    </script>
    <script src="static/popup.js"></script>


</body>
</html>