{% extends 'layout.html' %}
{%block title%}{{the_title}}{% endblock %}

{% block content %}
<header>
        <div id="logo1" onclick="slowScroll('#top')">
            <span><a class="logo1A" href="/homepage">McGrief</a></span>
        </div>
        <div id = "about1">
               <a href="/about_us" title="О нас" onclick="slowScroll('#main')">О нас</a>
            <a href="/news" title="Новости" onclick="slowScroll('#main')">Новости</a>
            <a href="/login" title="Логин" onclick="slowScroll('#main')">Логин</a>
            <a href = "/registration_page" title="Регистрация" onclick="slowScroll('#contacts')">Регистрация</a>
            <a href = "/profile" title="Личный кабинет" onclick="slowScroll('#contacts')">Личный кабинет</a>
            <a href="/homepage" title="Вернуться" onclick="slowScroll('#main')">Вернуться на главную</a>
        </div>
    </header>

    <div id="contacts">
        <center><h5>Восстоновление пороля</h5></center>
        <center><p></p></center>
        <form  id="form_input" method="POST" action="/forgot_password">
            <div class="input-control">
                <label>Введите имя<span>*</span></label><br>
                <input type="name" placeholder="Введите имя" name = "username" id ="username" required>
                <div class="error1"></div>

            </div>
            <div class="input-control">
                <label for = "email">Введите почту<span>*</span></label><br>
                <input type="emial" placeholder="Введите почту" name = "email" id ="email" required>
                <div class="error1">{{ response }}</div>

            </div>
            <br>
            <button id="mess_send" class="btn" type="submit">Отправить</button><br>
            <br>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

         function slowScroll()
        {
            $('html,body').animate({
                scrollTop: $(id).offset().top
            },500)
        }
        $(document).on("scroll",function(){
            if($(window).scrollTop() === 0)
                $("header").removeClass("fixed");
            else
                $("header").attr("class","fixed");
        })
    </script>
{% endblock %}