<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name = "viewport" content="width = device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel = "stylesheet" href="static/style.css">
    <link rel = "shortcut icon" href="static/img/pngwing.com%20(6).png" type="image/x-icon">

    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin = "anonymous"></script>

    <link rel="stylesheet" href="static/lightslider.css">
    <script src="static/Jquery.js"></script>
    <script src="static/lightslider.js"></script>
    <title>{%block title%}{% endblock %}</title>
</head>

    <body id="body">
        {% block content %}
        {% endblock %}
    </body>

</html>
