{% extends 'layout.html' %}
{%block title%}{{the_title}}{% endblock %}

{% block content %}
    <header>
     <div id="logo1" onclick="slowScroll('#top')">
                <span><a class="logo_regist" href="/homepage">McGrief</a></span>
            </div>
            <div id = "about1">
            <a href="/about_us" title="О нас" onclick="slowScroll('#main')">О нас</a>
            <a href="/news" title="Новости" onclick="slowScroll('#main')">Новости</a>
            <a href="/login" title="Логин" onclick="slowScroll('#main')">Логин</a>
            <a href = "/registration_page" title="Регистрация" onclick="slowScroll('#contacts')">Регистрация</a>
            <a href = "/profile" title="Личный кабинет" onclick="slowScroll('#contacts')">Личный кабинет</a>
            <a href="/homepage" title="Вернуться" onclick="slowScroll('#main')">Вернуться на главную</a>
            </div>
    </header>

    <div class="blog-section">
        <div class="section-content blog">
            <div class="title">
                <h2>Новости</h2>
                <p>Майнкрафт сервер</p>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="image-section">
                        <img src="static/wptunnel-minecraft-wallpaper-6.jpg">
                    </div>
                    <article class="article">
                        <h4>Открытие сервера!</h4>
                        <p>Мы открылись, майнкрафт версия 1.17.сервер открыт для пиратских и лецинзионных версий майнкрафта! </p>
                    </article>
                    <div class="posted-date">
                        <p>Опубликовано 04.02.2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function slowScroll()
        {
            $('html,body').animate({
                scrollTop: $(id).offset().top
            },500)
        }
        $(document).on("scroll",function(){
            if($(window).scrollTop() === 0)
                $("header").removeClass("fixed");
            else
                $("header").attr("class","fixed");
        })
    </script>

{% endblock %}