{% extends 'layout.html' %}
{%block title%}{{the_title}}{% endblock %}

{% block content %}

<header>
        <div id="logo" onclick="slowScroll('#top')">
            <span><a class="logo_regist" href="/homepage">McGrief</a></span>
        </div>
        <div id = "about">
             <a href="/about_us" title="О нас" onclick="slowScroll('#main')">О нас</a>
            <a href="/news" title="Новости" onclick="slowScroll('#main')">Новости</a>
            <a href="/login" title="Логин" onclick="slowScroll('#main')">Логин</a>
            <a href = "/registration_page" title="Регистрация" onclick="slowScroll('#contacts')">Регистрация</a>
            <a href = "/profile" title="Личный кабинет" onclick="slowScroll('#contacts')">Личный кабинет</a>
            <a href="/homepage" title="Вернуться" onclick="slowScroll('#main')">Вернуться на главную</a>

        </div>
    </header>
       <div id="aside2"></div>

    <div id="aside">
        <h1></h1>
        <div class="ButtonAnim">
            <a href="/shop" class="butt">Магазин</a>
        </div>
        <div class="ButtonAnim">
            <a href="/shopping_cart" class="butt">Корзина</a>
        </div>
        <div class="ButtonAnim">
            <a href="#" class="butt">Дискорд</a>
        </div>
        <div class="ButtonAnim">
            <a href="/forgot_password" class="butt">Сменить пароль</a>
        </div>

    </div>
    <div id="profile">
        <h1>Данные пользователя</h1>

        <label>Имя пользователя</label>
        <div class="username">{{ username }}</div>

        <br>
        <label>баны</label>
        <div class="ban">faf</div>

        <br>
         <label>Предупреждений</label>
        <div class="warn">варн</div>
        <br>

        <label>Привелегий</label>
        <div class="prefs">варн</div>
        <br>

        <label>Дата регистраций</label>
        <div class="registrationDate">{{ registration_date }}</div>
        <br>

        <label>Дата последнего входа</label>
        <div class="enterDate">{{ login_date }}</div>
        <br>

        <label>Изменить пароль</label>
        <p><a href = "/forgot_password" class="passwordAc">изменить</a></p>
        <br>

        <label>Выйти из аккауна</label>
        <p><a href = "/logout" class="exitAc">Выйти</a></p>
        <br>

    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function slowScroll()
        {
            $('html,body').animate({
                scrollTop: $(id).offset().top
            },500)
        }
        $(document).on("scroll",function(){
            if($(window).scrollTop() === 0)
                $("header").removeClass("fixed");
            else
                $("header").attr("class","fixed");
        })
    </script>

{% endblock %}